# Created by .ignore support plugin (hsz.mobi)
.vscode
/.idea/
/target/
/demo/target/
/node_modules
package-lock.json
package.json
webpack.config.ts
webpack.generated.js
vite.generated.ts
/src/test/resources/apexcharts.d.ts

# eclipse
/.settings
.classpath
.project

# intellij
*.iml
/frontend/generated
